/*div{*/
    /*float: left;*/
    /*width: 20%;*/
/*}*/


.wrap {
  position: relative;
}
.wrap .nav-bar .navbar-brand {
  margin-top: 15px;
}
.wrap .nav-bar .navbar-form {
  margin-top: 25px;
}
.wrap .nav-bar .nav {
  float: right !important;
}
.wrap .nav-bar .nav .dropdown span.fa,
.wrap .nav-bar .nav .dropdown span.caret {
  margin-right: 10px;
}
.wrap .nav-bar .nav .dropdown-menu {
  left: auto;
  width: 200px;
  right: 0;
}
.wrap .nav-bar .nav .dropdown-menu > li > a {
  color: #ddd;
  padding: 8px;
}
.wrap .nav-bar .nav .dropdown-menu > li > a:hover {
  /*background: #3355ff;*/
}

.wrap .burger {
  position: relative;
  width: 35px;
  height: 30px;
  left: 10px;
  top: 5px;
  z-index: 500000;
}
.wrap .burger .burger_inside {
  position: absolute;
  background-color: #222;
  width: 30px;
  height: 5px;
  left: 2.5px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.wrap .burger #bgrOne {
  top: 0;
}
.wrap .burger #bgrTwo {
  top: 10px;
}
.wrap .burger #bgrThree {
  top: 20px;
}
.wrap #side-menu {
  position: absolute;
  background: #2f823c;
  width: 22em;
  float: left;
  display: block;
  height: 900px;
}
.wrap .content {
  position: absolute;
  right: 0;
  min-width: 40%;

}
.wrap .content .top-bar {
  height: 40px;
  background: #ddd;
}
.wrap .content .content-inner {
  background: #fff;
  padding-left: 2%;
  display: block;
  position: absolute;
  height: 90%;
  width: 100%;
}
.wrap ul.accordion {
  width: 100%;
  background: transparent;
}
.wrap ul.accordion .link {
  cursor: pointer;
  display: block;
  padding: 5% 5% 5% 10%;
  color: #2682fd;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #2682fd;
  position: relative;
}

.wrap ul.accordion li i {
  position: absolute;
  top: 1.6%;
  left: 12px;
  font-size: 18px;
  color: #999;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.wrap ul.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}
.wrap ul.accordion li.open .link {
  color: #FFB266;
}

.wrap ul.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wrap ul.accordion ul.submenu {
  display: none;
  /*background: transparent;*/
  font-size: 14px;
  padding: 0;
}

.wrap ul.accordion ul.submenu li a:hover {
  background: rgba(240, 128, 128, 0.8);
  color: #ffb266;
}
@media screen and (min-width: 769px) {
  .side-menu-link {
    display: none;
  }

  .wrap .content {
    left: 21em;
    right: 0;
  }
}




div img {
    width: 270px;
    height: 95px;
    margin: 5px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #f3f3f3;
    padding-top: 22px;
    border-top: 1px solid #e9e9e9;
}

footer a:link, a:visited, a:active {
    color: #696969;
    font-family: arial, sans-serif;
    font-size: 12px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.leftlinks {
    position: relative;
    bottom: 12px;
    left: 18px;
    padding-right: 15px;
    padding-left: 15px;
}

.rightlinks {
    position: relative;
    bottom: 9px;
    float: right;
    right: 18px;
    padding-right: 15px;
    padding-left: 15px;
}

