{% extends 'admin_menu.html' %}
{% load bootstrap3 %}

{% block title %} Add User Role{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
    <h3>Add USer Role</h3>
    <!--align="center"-->
    <form method="post"  >
        {% csrf_token %}
        {% bootstrap_form form %}


        <input type="submit" value="Add User Role" class="btn btn-primary">

        <a href="#"class="btn btn-primary"> Cancel</a>
    </form>
{% else %}
{% endif %}
{% endblock %}
