{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %} Employees {% endblock %}

{% block content %}
    <div class="page-header" align="center" xmlns="http://www.w3.org/1999/html">
        <h2> Employees</h2>
    </div>
    <div class="container">


        <div class="panel-body">
            <div class="col-md-6">
                <div id="search_block_top">
                    <div id="search_block_top_wrap">
                        <form id="searchbox" method="get"
                              action="#" class="navbar-form navbar-left" autocomplete="on">
                            <div class="form-group"><input style="width: 250px; height: 40px"
                                                           class="search_query form-control" type="text"
                                                           id="search_query_top"
                                                           placeholder="Enter User Role Name" name="search"/></div>
                            <button type="submit" class="btn btn-success button-search">Search For Employees</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <a href="#" align="pull-right"
                   class="btn btn-success"
                   role="button"><span class="glyphicon glyphicon-plus"></span>Employee List</a>
            </div>
        </div>


        <table class="table table-hover" id="dev-table">
            <thead>
            <tr>

                <th>ID</th>
                <th>Image</th>
                <th>Employee Name</th>
                <th>User Role</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in object_list %}
                <tr>
                    <td>
                        {{ employee.id|capfirst }}
                    </td>
                    <td>
                        {{ employee.image }}
                    </td>

                    <td>
                        {{ employee.employee_name|capfirst }}
                    </td>

                    <td>
                        {{ employee.user_role|capfirst }}
                    </td>


                    <td class="text-center">
                        <a class='btn btn-success btn-xs'
                           href="#"><span
                                class="glyphicon glyphicon-edit"></span> Edit
                        </a>

                    </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
