{% extends 'base.html' %}

{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li class="dropdown accordion">
                        <a href="#" class="dropdown-toggle link" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">User Roles <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'administration:create_user_role' %}">Add User Roles</a></li>
                            <li><a href="{% url 'administration:user_role_landing' %}">User Roles</a></li>
                        </ul>
                    </li>
                    <li class="dropdown accordion">
                        <a href="#" class="dropdown-toggle link" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Employees <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'administration:create_employee' %}">Add Employees</a></li>
                            <li><a href="{% url 'administration:employee_landing' %}">Available Employees </a></li>
                        </ul>
                    </li>
                    <li class="dropdown accordion">
                        <a href="#" class="dropdown-toggle link" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Job Titles <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'administration:create_job_title' %}">Add Job Titles </a></li>
                            <li><a href="{% url 'administration:job_title_landing' %}">Job Titles </a></li>
                        </ul>
                    </li>
                    <li class="dropdown accordion">
                        <a href="#" class="dropdown-toggle link" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Job Categories <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'administration:create_job_category' %}">Add Job Categories</a></li>
                            <li><a href="{% url 'administration:job_category_landing' %}">Job Categories</a></li>

                        </ul>
                    </li>
                    <li class="dropdown accordion">
                        <a href="#" class="dropdown-toggle link" data-toggle="dropdown" role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Work Shifts <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'administration:create_work_shift' %}">Add Work Shifts</a></li>
                            <li><a href="{% url 'administration:work_shift_landing' %}">Available Work Shifts</a></li>

                        </ul>
                    </li>
                </ul>

            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
    </nav>
    </body>
    </html>
{% endblock %}