{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HRM</title>

    {#            <link href="{% static 'css/main.css' %}" rel="stylesheet"/>#}
    {#    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>#}
    <link rel="stylesheet" href="{% static 'css/landing_page/landing.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing_page/bootstrap.min.css' %}">
    <style type="text/css">
        .fa-search {
        }
    </style>

    {#        <link rel="stylesheet" href="{% static 'css/main.css' %}">#}
</head>
<body>


<!--Top Navbar-->

<div class="wrap">
    <img src="{% static 'img/SPARKFINAL.jpg' %}"/>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <form class="navbar-form pull-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right"  style="padding-right: 5%">
                    <li class="dropdown accordion">
                        <a href="#" class="dropdown-toggle link" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Accounts <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Logout</a></li>
                            <li><a href="#">Change Password</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
    </nav>
    <!--End of Top Navbar-->

    <!--SideMenu-->
    <nav id="side-menu" class="aside" role="navigation">
        <ul class="nav nav-list accordion">
            <li class="nav-header">
                <a class="link">Dashboard</a>
                <a href="{% url 'administration:user_landing' %}" class="link">PIM</a>
                <a class="link">Recruitment</a>
                <a class="link">Leave</a>
                <a class="link">PayRoll</a>
                <a class="link">Time</a>
                <a class="link">Performance</a>
                <a href="{% url 'admin_menu' %}" class="link">Admin</a>
            </li>
        </ul>
    </nav>
    <!--End of sideMenu-->

    <!--Body content-->
    <div class="content">
        <section class="content-inner">
            {% block content %}{% endblock %}

        </section>
    </div>
</div>
<footer class="navbar-fixed-bottom panel-footer">
    <div class="container">
        <p class="navbar-text pull-left">© 2017 - Spark HRM.
            <a href="http://moap.co.ug" target="_blank">MOAP UGANDA LIMITED</a>
        </p>

        <a class="navbar-text pull-right" href="http://moap.co.ug/support">Contact Us</a>
        <a class="navbar-text pull-right" href="#">Privacy & Terms</a>
    </div>
</footer>

</body>


<script src="{% static 'js/jquery-3.1.1.min.js' %}" type="text/javascript"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script>

</script>
</html>