{% extends 'base.html' %}
{% load static from staticfiles %}

{#{% block content %}#}
{#{% if request.user.is_authenticated %}#}


<style type="text/css">
    #search_block_top {
    }
</style>
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>

</head>

<body>

<h1 align="center">Available Products</h1>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {#                <a class="navbar-brand" href="#">Brand</a>#}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
    </div><!-- /.container-fluid -->
</nav>

</body>
{##}
{#{% else %}#}
{#    <a href="{% url 'accounts:login' %}">Login</a>#}
{#{% endif %}#}

